@use '../../variables';

.modalWrapper {
  position: absolute;
  margin: auto;
  z-index: 1;
  background-color: variables.$modal-backdrop;
  min-width: 100vw;
  min-height: 100vh;

  .modal {
    background-color: variables.$w;
    width: 500px;
    border-radius: 8px;
    margin: auto;
    margin-top: 120px;
    box-shadow: variables.$bs;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .heading {
      .close {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 12px;
        cursor: pointer;
        color: variables.$grey-light;
        transition: variables.$transition;

        &:hover {
          color: variables.$b;
          transition: variables.$transition;
        }

        i {
          font-size: 24px;
        }
      }

      input {
        font-size: 24px;
        padding: 4px 2px;
        font-weight: 700;
        border: none;
        outline: none;
        background-color: variables.$transparent;
        border-bottom: 1px solid variables.$grey-light;
        transition: border-bottom 250ms linear;
        width: 100%;

        &:focus {
          border-bottom: 1px solid variables.$grey-dark;
          transition: border-bottom 250ms linear;
        }
      }
    }

    .body {
      textarea {
        background-color: variables.$transparent;
        font-size: 16px;
        width: 100%;
        border: none;
        outline: none;
        resize: none;
        @include variables.text;
      }


    }

    .footer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      justify-content: space-between;
      gap: 12px;
      font-size: 12px;

      input {
        padding: 4px 2px;
        font-weight: 400;
        @include variables.text;
        background-color: variables.$transparent;
        border: 1px solid variables.$grey-light;
        outline: none;
        font-size: 12px;
        border-radius: 4px;
        cursor: pointer;
        transition: variables.$transition;

        &:focus {
          transition: variables.$transition;
          border: 1px solid variables.$grey-dark;
        }
      }
    }
  }
}
