@use '../../variables';

.modalWrapper {
  position: absolute;
  margin: auto;
  z-index: 1;
  background-color: variables.$modal-backdrop;
  min-width: 100vw;
  min-height: 100vh;

  .modal {
    background-color: variables.$w;
    width: 500px;
    border-radius: 8px;
    margin: auto;
    margin-top: 120px;
    box-shadow: variables.$bs;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .heading {
      input {
        font-size: 24px;
        padding: 4px 2px;
        font-weight: 700;
        border: none;
        outline: none;
        background-color: variables.$transparent;
        border-bottom: 1px solid variables.$grey-light;
        transition: border-bottom 250ms linear;
        width: 100%;

        &:focus {
          border-bottom: 1px solid variables.$grey-dark;
          transition: border-bottom 250ms linear;
        }
      }
    }

    .body {
      textarea {
        background-color: variables.$transparent;
        font-size: 16px;
        width: 100%;
        border: none;
        outline: none;
        resize: none;
        @include variables.text;
      }
    }

    .modalFooter {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 12px;
    }
  }
}
