@use 'variables';

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 600px;
  position: relative;
  min-height: 100vh;
}

main {
  width: 100%;
}

.container {
  border-radius: 10px;
  padding: 12px;
  background-color: variables.$w;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.container-button {
  font-size: 15px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.custom-select {
  position: relative;
}
